/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --rec-display: inline-flex;
  --button-outline-rgb: 255 0 112;
  --button-color: var(--accent-color);
  --decor-color: var(--accent-color);
}
