/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --rec-display: none;
  --accent-text-color: #353430;
  --button-outline-rgb: 53 52 48;
  --button-color: var(--text-color);
  --decor-color: var(--text-color);
  --section-title-color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --rec-display: none;
    --button-outline-rgb: 53 52 48;
    --button-color: var(--text-color);
    --decor-color: var(--text-color);
  }
}
