:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --main-font: "IBM Plex Mono", monospace;
  --rec-display: inline-flex;

  --button-outline-rgb: 255 0 112;
  --button-color: var(--accent-color);
  --decor-color: var(--accent-color);
  --section-title-color: var(--accent-color);
}
